.contact {
    display: flex;
    @media (max-width: $md3 + px) {
        flex-direction: column;
    }
    &__block {
        padding: 60px 40px 50px;
        flex-basis: 100%;
        background-color: #2690d4;
        text-align: center;
        &:nth-child(2) {
            background-color: $color_secondary;
        }
    }
    &__title {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom:40px;
    }
    &__descr {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
    &__link {
        display: inline-block;
        margin-top: 40px;
        color: $color_main;
        font-size: 1.6rem;
        &:hover {
            color: $color_secondary;
        }
    }
}