<div class="cards">
    <div class="container">
        <div class="cards__wrapper">
            <div class="cards__item">
                <div class="cards__img">
                    <img src="https://static.pexels.com/photos/574077/pexels-photo-574077.jpeg" alt="Web Development">
                </div>
                <div class="cards__text">
                    <div class="cards__title">
                        Web Development
                    </div>
                    <div class="cards__descr">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.
                    </div>
                </div>
            </div>
            <div class="cards__item">
                <div class="cards__img">
                    <img src="https://static.pexels.com/photos/261628/pexels-photo-261628.jpeg" alt="Mobile Applications">
                </div>
                <div class="cards__text">
                    <div class="cards__title">
                        Mobile Applications
                    </div>
                    <div class="cards__descr">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.
                    </div>
                </div>
            </div>
            <div class="cards__item">
                <div class="cards__img">
                    <img src="https://static.pexels.com/photos/265087/pexels-photo-265087.jpeg" alt="Tech Marketing">
                </div>
                <div class="cards__text">
                    <div class="cards__title">
                        Tech Marketing
                    </div>
                    <div class="cards__descr">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa neque quo eum et quasi velit voluptatum cum maiores exercitationem.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>