<div class="contact">
    <div class="contact__block">
        <div class="contact__title">
            Contact Us
        </div>
        <div class="contact__descr">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, suscipit. Rerum ducimus a quod, ut et voluptas obcaecati unde fuga.
        </div>
        <a class="contact__link" href="mailto:contact@acmewebsolutions.test">contact@acmewebsolutions.test</a>
    </div>
    <div class="contact__block">
        <div class="contact__title">
            About Our Company
        </div>
        <div class="contact__descr">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio earum porro deserunt, deleniti, quae facere repudiandae, officiis est exercitationem nobis iusto doloremque! Soluta excepturi in aut suscipit amet temporibus quo?
        </div>
    </div>
</div>